<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletJSPWeek02</display-name>

<servlet>
	<servlet-name>ConfigServletimizinAdi</servlet-name>
	<servlet-class>servletconfig.ConfigServlet</servlet-class>
	
	<init-param>
		<param-name>username</param-name>
		<param-value>AliBey</param-value>
		
	</init-param>
	
	<init-param>
		<param-name>password</param-name>
		<param-value>1234</param-value>
		
	</init-param>
</servlet>

<servlet-mapping>
	<servlet-name>ConfigServletimizinAdi</servlet-name>
	<url-pattern>/config</url-pattern>
</servlet-mapping>

<context-param>
	<param-name>username</param-name>
	<param-value>AliBey</param-value>
</context-param>

<context-param>
	<param-name>email</param-name>
	<param-value>altrk19@gmail.com</param-value>
</context-param>

</web-app>